body {
min-height: 1000px;
background-image: url("https://cws.auburn.edu/shared/files?id=1&filename=library.jpeg");
background-repeat: no-repeat;
background-size: 100% 100%;
margin-bottom: 225px;
}

.BookstoreTitle {
text-align: center; 
color: white; 
font-size: xxx-large;
}

.PageTitle {
text-align: center; 
color: white; 
font-size: xx-large;
}

textarea {
min-height: 400px;
min-width: 875px;
}



.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttonfooter {background-color: black; margin: 25px;} /* Black */

#error { 
    display: flex;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;

}

#success {
    display: flex;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;



}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px; 
margin: -8px;
background-color: darkcyan;          
}

     table {
            margin: 0 auto;
          
            border: 1px solid black;
background-color: #ffffffbd; 
font-size: 25px; 
padding: 10px;
        }
 
        h1 {
            text-align: center;
        
            font-size: xx-large;
                }
 
        td {
        
            border: 1px solid black;
        }
 
        th,
        td {
            font-weight: bold;
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
 
        td {
            font-weight: lighter;
        }


.errorMsg {
align-content: center;
width: 600px; 
background: red; 
padding: 10px; 
border-radius: 5px;
}

.successMsg {
align-content: center;
width: 600px; 
background: green; 
padding: 10px; 
border-radius: 5px;
color: white;
}
